.h-a,
.h-b,
.h-c,
.i-a,
.i-b,
.i-c,
.g-a,
.g-b,
.g-c,
.g-d,
.g-e,
.g-f,
.g-g,
.s-a,
.s-b,
.s-c,
.s-d,
.s-e,
.s-f,
.s-g,
.c-a,
.c-b,
.c-c,
.c-d,
.c-e,
.c-f,
.c-g,
.o-a,
.o-b,
.o-c,
.o-d,
.r-a,
.r-b,
.r-c,
.r-d,
.r-e,
.r-f,
.r-g,
.e-a,
.e-b,
.e-c,
.e-d{
    background-color: var(--red);
}

.h, .i, .g, .s, .c, .o, .r, .e{
    width: 25px;
    height: 25px;
}

.h{
    grid-template-rows: 5fr 1fr 5fr;
    grid-template-columns: 30% 40% 30%;
}

.h-a{
    grid-row: 1/4;
    grid-column: 1;
}

.h-b{
    grid-row: 2;
    grid-column: 2;
}

.h-c{
    grid-row: 1/4;
    grid-column: 3;
}

.i{
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.i-a{
    grid-row: 1;
    grid-column: 1/4;    
}

.i-b{
    grid-row: 2;
    grid-column: 2;    
}

.i-c{
    grid-row: 3;
    grid-column: 1/4;    
}

.g{
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

.g-a{
    grid-row: 3/6;
    grid-column: 1/3;
}

.g-b{
    grid-row: 2;
    grid-column: 2/4
}

.g-c{
    grid-row: 6;
    grid-column: 2/4
}

.g-d{
    grid-row: 1;
    grid-column: 3/8
}

.g-e{
    grid-row: 7;
    grid-column: 3/8
}

.g-f{
    grid-row: 4/8;
    grid-column: 6/8
}

.g-g{
    grid-row: 4;
    grid-column: 5
}

.s{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr)
}

.s-a{
    grid-row: 1;
    grid-column: 2/6;
}

.s-b{
    grid-row: 2/4;
    grid-column: 1/3;
}

.s-c{
    grid-row: 2;
    grid-column: 5/7;
}

.s-d{
    grid-row: 4;
    grid-column: 2/6;
}

.s-e{
    grid-row: 5/7;
    grid-column: 5/7;
}

.s-f{
    grid-row: 6;
    grid-column: 1/3;
}

.s-g{
    grid-row: 7;
    grid-column: 2/6;
}

.c{
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr)
}

.c-a{
    grid-row: 1;
    grid-column: 3/7;
}

.c-b{
    grid-row: 2;
    grid-column: 2/4;
}

.c-c{
    grid-row: 2;
    grid-column: 6/8;
}

.c-d{
    grid-row: 3/6;
    grid-column: 1/3;
}

.c-e{
    grid-row: 6;
    grid-column: 2/4;
}

.c-f{
    grid-row: 6;
    grid-column: 6/8;
}

.c-g{
    grid-row: 7;
    grid-column: 3/7;
}

.o{
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr ;
}

.o-a{
    grid-row: 1;
    grid-column: 2/5;
}

.o-b{
    grid-row: 2/3;
    grid-column: 1/3;
}

.o-c{
    grid-row: 2/3;
    grid-column: 4/6;
}

.o-d{
    grid-row: 3;
    grid-column: 2/5;
}

.r{
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr 1fr;
}

.r-a{
    grid-row: 1;
    grid-column: 2/6;
}

.r-b{
    grid-row: 1/7;
    grid-column: 1;
}

.r-c{
    grid-row: 5;
    grid-column: 3/6;
}

.r-d{
    grid-row: 2/4;
    grid-column: 5/7;
}

.r-e{
    grid-row: 3;
    grid-column: 4;
}

.r-f{
    grid-row: 4;
    grid-column: 2/5;
}

.r-g{
    grid-row: 6;
    grid-column: 4/7;
}

.e{
    grid-template-columns: 2fr 4fr fr;
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr;
}

.e-a{
    grid-row: 1/6;
    grid-column: 1;
}

.e-b{
    grid-row: 1;
    grid-column: 2/4;
}

.e-c{
    grid-row: 3;
    grid-column: 2/3;
}

.e-d{
    grid-row: 5;
    grid-column: 2/4;
}